<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jalee.bbqbuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".v1_bbq_buddy"
            android:label="BBQ Buddy"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About" />
        <activity android:name="com.google.android.gms.ads.AdActivity" />
        <activity android:name=".SmartTimer_TimeLine_Add" />
        <activity
            android:name=".SmartTimer_TimeLine_Builder"
            android:label="Time Line Builder"
            android:parentActivityName=".v1_bbq_buddy"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jalee.bbqbuddy.v1_bbq_buddy" />
        </activity>

        <service android:name=".SmartTimer_Service" />

        <activity
            android:name=".SmartTimer_Settings"
            android:label="@string/title_activity_smart_timer__settings"
            android:parentActivityName=".v1_bbq_buddy"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jalee.bbqbuddy.v1_bbq_buddy" />
        </activity>
        <activity
            android:name=".SmartTimer_Changelog"
            android:label="@string/title_activity_smart_timer__changelog"
            android:parentActivityName=".v1_bbq_buddy"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jalee.bbqbuddy.v1_bbq_buddy" />
        </activity>
    </application>

</manifest>